jupyter_sphinx
jupyter
nbsphinx
#git+https://github.com/maartenbreddels/jupyter-sphinx@ipywidgets7require_d
PyChromeDevTools
ipyvolume
ipywidgets
traittypes
traitlets
Pillow
scipy
nbsphinx
recommonmark
matplotlib
ipywebrtc
requests
pythreejs
